.mainCalculadoraImc {

    margin: auto;
    text-align: center;
    margin-top: 70px;
    margin-bottom: 50px;
    background-color: rgb(56, 61, 59);
    max-width: 600px;
    border-radius: 10px;
    box-shadow: 2px 0px 5px 0px rgb(233, 227, 227);
    padding: 20px;
}

p {
    font-weight: bolder;
    font-size: 18px;
    color: black;
    padding: 10px;
}

ul p {
    text-align: justify;
}

.nome {
    border-radius: 10px;
    border: none;
    height: 35px;
    width: 300px;
    color: black;
    text-align: center;
}

.peso {
    border-radius: 10px;
    border: none;
    height: 35px;
    width: 300px;
    color: black;
    text-align: center;
}

.altura {
    border-radius: 10px;
    border: none;
    width: 300px;
    height: 35px;
    color: black;
    text-align: center;
}

.calcular {
    border-radius: 10px;
    height: 40px;
    width: 200px;
    border: none;
    cursor: pointer;
    background-color: black;
    color: white;
    margin-top: 20px;
}

.calcular:hover {
    background-color: rgba(0, 0, 0, 0.699);
}


.resultado {
    background-color: black;
    color: white;
    border-radius: 10px;
    height: 80px;
    max-width: 400px;
    text-align: center;
    padding: 10px;
    display: block;
    margin: auto;
    padding-top: 30px;
    margin-top: 30px;

}


@media screen and (max-width: 600px) {
    h1 {
        font-size: 28px;
    }
}